
.logo {
    width: 164px;
    height: 44px;
    flex-shrink: 0;

}
.nav-box {
    background-color: #0E0838;
    border-bottom: 2px solid #F04D08;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;

} 
.main-nav {
    display: flex; 
    align-items: center;  
    list-style: none;
    margin: 5px 30px 5px 30px ;
} 
.main-nav li {
    margin-inline: 3%;
    flex-grow: 1;

}
.main-nav li:last-child {
    margin-right: 0; /* Remover margem do último item */
    background-color: transparent;
    border: none;
    cursor: pointer;
}
a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #F04D08;
    white-space: nowrap; /* Impede a quebra de linha */
}
a:hover {
    color: #ffffff;
}

