.home {
    background-color: white;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-gap: 2rem;
    padding: 20px;
    align-items: center;
}

.card {
    max-height: 150px;
    /* Altura máxima inicial */
    padding: 20px;
    border-radius: 10px;
    transition: max-height 0.3s ease;
    /* Adiciona transição suave */
    color: rgb(255, 255, 255);
}

.card-content {
    position: relative;
    /* Necessário para o posicionamento absoluto do conteúdo */
    padding: 20px;
    border-radius: 10px;
    z-index: 1;
    /* Garante que o conteúdo fique acima do plano de fundo */
}

.card h2 {
    text-align: start;
    color: #F04D08;
    font-size: 3rem;
    margin-bottom: 0;
}

.card h3 {
    font-size: 2rem;
    margin-top: 0;
}

.card p,
a {
    font-size: 1.3rem;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

#card1,
#card3 {
    box-shadow: 0 4px 8px rgba(182, 55, 8, 0.625);
    border: 2px solid #f04d08;
    color: #F04D08;
    text-align: end;
}

#card2,
#card4 {
    background-color: #0E0838;
    text-align: start;
}

#card2 h2,
#card4 h2 {
    color: #ffffff;
    text-align: end;
}

.card:hover {
    max-height: none;
    /* Remove a altura máxima no hover */
}

.card-paragraph {
    display: none;
    /* Inicialmente oculta o parágrafo */
}

.card:hover .card-paragraph {
    display: block;
    /* Exibe o parágrafo no hover */
}