/* Estilização do container de login */
.welcome-image {
    flex-shrink: 0;
    position: fill;
    background-color: black;
    width: 80%; /* 75% da largura da tela */
    height: 100vh; /* 100% da altura da tela */
}
.logo-login  {
    width: 100%; /* Preenche horizontalmente */
    height: auto; /* Mantém a proporção da imagem */
    flex-shrink: 0;
    padding-bottom: 20px;
}
.login-container {
    flex-shrink: 0;
    background: #0E0838;
    padding: 30px;
    width: 20%;
    height: 100%;
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
}

/* Estilização do formulário */
form {
    width: 100%; /* Preenche horizontalmente */
    /* Outros estilos do formulário */
}
/* Estilização dos campos de entrada */
.login-container input {
    color: #ffffff;
} 
