.logo {
    width: 164px;
    height: 44px;
    flex-shrink: 0;
    display: block;
}
.menu-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -190px; 
    min-width: 220px; 
    width: 20%;
    background-color: #040D12; 
    border-right: 2px solid #5C8374; 
    padding-top: 20px; 
    padding-bottom: 20px; 
    overflow: hidden;
    transition: left 0.3s ease; 
    z-index: 1000; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items:center;
}

@media screen and (min-width: 1400px) {
    .menu-container{
        left: -260px;
    }
  }
.menu-container:hover {
    left: 0; 
}
.main-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}
.main-nav img{
    width: 100%; 
    height: auto; 
    flex-shrink: 0;
    padding-bottom: 20px;
}
.main-nav li {
    width: 100%;
}
.main-nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    display: block; 
    padding: 10px; 
}
.main-nav a:hover {
    color: #5C8374;
}
.menu-container:not(:hover) .main-nav a {
    display: none;
}
