.gs-body {
    overflow: hidden;
}

.gs-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.box {
    flex: 1;
    height: 100%;
    padding: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}

.box:nth-child(1):hover,
.box:nth-child(2):hover {
    transform: scaleX(1.05);
    /* Aumenta o tamanho do box em 5% quando o mouse passa sobre ele */
}

.box:nth-child(1) {
    background-color: #FF7313;
    /* Cor para o primeiro box */
    transition: transform 0.3s ease;
    font-size: 2vw;
    /* Tamanho da fonte para o segundo box */
    color: white;
    /* Cor do texto para o segundo box */
}

.box:nth-child(2) {
    background-color: #FFFFFF;
    /* Cor para o segundo box */
    transition: transform 0.3s ease;
    font-size: 1.8vw;
}

.box:nth-child(3) {
    background-color: #0E0838;
    /* Cor para o terceiro box */
    font-size: 2vw;
    /* Tamanho da fonte para o segundo box */
    color: white;
    /* Cor do texto para o segundo box */
}

.gs{
    max-width: 100px;
    max-height: 100%;
    margin: 20px auto;
    transition: transform 0.3s ease;
}

.gs-my-button {
    animation: swing 1s ease infinite alternate;
}

@keyframes swing {
    0% {
        transform: scale(1.05);
        /* Inicialmente, rotaciona a imagem em 5 graus */
    }

    100% {
        transform: scale(.95);
        /* Ao final, rotaciona a imagem em -5 graus */
    }
}

.gs-my-button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 8px;
    color: #FF7313;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    position: relative;
}

.gs-my-button:hover {
    background-color: white;
    transform: scale(1.08);
}

.arrow {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
}