/* Estilos para a página perfil.html */
body.profile {
    display: flex;
    margin-top: 100px;
}
.column-1 {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-image {
    width: 350px;
    height: 350px;
    margin-top: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.column-2 {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.column-2 h2{
    color: black;
}
.form-container {
    display: flex;
    width: 656px;
    padding: 20px;
    flex-direction: column;
    align-items: center; 
    gap: 10px;
    flex-shrink: 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    border-left: 20px solid #F04D08;
    background: #FDFDFD;
}
.form-group {
    display: flex;
    flex-direction: column; /* Modificado para alinhar os inputs abaixo dos labels */
    align-items: flex-start; /* Modificado para alinhar os inputs à esquerda */
    margin-bottom: 15px;
    width: 100%; /* Ocupa toda a largura disponível */
}
select option {
    color: black; /* Define a cor do texto */
}
.form-group label {
    color: black;
    font-weight: bold;
    text-align: left; /* Alinhamento à esquerda */
}
.form-group input,
.form-group select {
    width: 100%; /* Ocupa toda a largura disponível */
    padding-block: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
}

.edit-profile-button{
    color: white;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 30px; /* Espaço acima do botão */
    display: flex;
    height: 65px;
    padding: 10px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
    background: #FF7313;
    border-color: transparent;
}
.button-container {
    display: flex;
    width: 100%;
}
.input-visivel {
    color: black; /* Definindo a cor do texto para preto */
}
.save-button-profile, .back-button-profile{
    color: white;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    display: flex;
    height: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.save-button-profile {
    background: #F04D08;
    border-color: transparent;
}

.back-button-profile {
    color: #F04D08;
    background: white;
    border-color: #F04D08;
}
