/* Estilos para a página perfil.html */
body.profile {
    display: flex;
    margin-top: 100px;
}
.column-1 {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-image {
    width: 350px;
    height: 350px;
    margin-top: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.column-2 {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.column-2 h2{
    color: black;
}
.form-container {
    display: flex;
    width: 656px;
    height: 595px;
    padding: 20px;
    flex-direction: column;
    align-items: center; /* Centralizar verticalmente */
    gap: 10px;
    flex-shrink: 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    border-left: 20px solid #F04D08;
    background: #FDFDFD;
}
