.chart-content{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}
.chart-container {
    margin: 5%;
    padding: 20px;
    border-left: 20px solid #5C8374;
    background: #FDFDFD;
    display: grid;
    align-items: center;
    justify-content: center;
}


