.sensor-page {
    background-color: #0E0838;
    display: grid;
    grid-template-columns: auto minmax(0, 1fr); 
    margin-top: 2rem;
    margin-right: 2rem;
    overflow-x: hidden;
}

.content-container {
    margin-top: 3rem;;
    display: grid;
    gap: 10px;
}

.sensor-container {
    display: grid;
    grid-template-columns: auto minmax(0, 80px); /* Primeira coluna se ajusta ao conteúdo, segunda coluna com tamanho máximo de 80px */
    grid-gap: 1rem; /* Espaçamento entre as colunas */
    padding: 1rem;
    min-width: 400px;
    border-left: 20px solid #F04D08;
    background: #FDFDFD;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.3);
}

/* Efeito de aumento ao passar o mouse */
.sensor-container:hover {
    transform: scale(1.05);
    /* Aumenta o tamanho em 5% */
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.4);
    /* Adiciona uma sombra mais proeminente */
}

h1.sensor {
    margin: 0;
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

h2.sensor {
    margin: 10px 0 0;
    color: #0E0838;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}

/* Estilo para o botão */
.calibrate-button {
    position: absolute;
    /* Posição absoluta para o botão ficar sobre o container */
    top: 50%;
    /* Centralizar verticalmente */
    right: 20px;
    /* Distância do lado direito do container */
    transform: translateY(-50%);
    /* Ajustar para centralizar verticalmente */
    padding: 10px 20px;
    /* Adicionar padding para espaço ao redor do botão */
    background-color: #fff;
    /* Cor de fundo do botão */
    border: 2px solid #F04D08;
    /* Borda do botão */
    border-radius: 5px;
    /* Borda arredondada */
    transition: transform 0.3s ease;
}

.calibrate-button img {
    max-width: 100%;
    height: auto;
    display: block;
}

.calibrate-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    /* Cor de fundo inicial */
    transition: background-color 0.3s ease;
    /* Transição suave para a cor de fundo */
}

.calibrate-button:hover::before {
    background-color: #F04D08;
    /* Cor de fundo laranja ao passar o mouse */
}

.calibrate-button:hover img {
    transform: scale(1.1);
    /* Aumento de tamanho ao passar o mouse */
}

.pulse-button {
    grid-column: 1;
    width: 60px;
    height: 60px;
    margin: 4rem;
    border-radius: 50%;
    background-color: #F04D08;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    animation: pulse 2s infinite;
}

.plus-symbol {
    color: white;
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: rgb(255, 255, 255);
    color: #F04D08;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: calc(100% + 5px);
    /* Posiciona o tooltip abaixo do botão */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.pulse-button:hover .tooltip{
    visibility: visible;
    opacity: 1;
}
.pulse-button:hover {
    background-color: white; /* Altera a cor de fundo para branco */
    animation: none;
    transform: scale(1.2); /* Aumenta o tamanho em 2% */
}
  
  .pulse-button:hover .plus-symbol {
    color: #F04D08; /* Altera a cor do símbolo "+" para laranja */
}
  

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}