
@import url('login.css');
@import url('games.css');
@import url('header.css');
@import url('sensor.css');
@import url('progressochart.css');
@import url('perfil.css');
@import url('editperfil.css'); 
@import url('home.css');
@import url('calibrate.css');

/* Reset de estilos para remover margens e preenchimento padrão */
body, form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilização do fundo preto */
body {
    background-color: #0E0838; 
    font-family: 'JetBrains Mono', monospace;
}
h2{
    align-items: center;
    color: #0E0838;
    text-align: center;
}
